* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #3C50E0;
  --black: #1C2434;
}
html {
  &::-webkit-scrollbar {
      width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
  }
  scroll-behavior: smooth;
  overflow-x: hidden; 

}
body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  background-color: #F1F5F9;
}
.App {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  background-color: #F1F5F9;
}
.bread{
}
.breadcrumb{
  display: flex;
  justify-content: flex-end;
  padding-top: 5rem;
  padding-right: 2rem;
  list-style: none;
}
li {
  margin-left: 0.2rem;
}
.breadcrumb-item  {
  color: blue;
  text-decoration: none;
}
.breadcrumb-item a  {
  color: grey;
  text-decoration: none;
}